/*
    * Base
    * ==========================================================================
    copyright: 2022 by @yfram
    license: MIT
    repository: https://github.com/yfram/landing-page-yatmal-campaign
*/


/* mixins */

@mixin button {
    background-color: $primary-color;
    color: $secondary-color;
    border-radius: 30px;
    text-align: center;
    box-shadow: 2px 2px 3px $secondary-color;
    cursor: pointer;
    font-weight: bolder;
    font-size: 2rem;
    font-family: Assistant;
    direction: rtl;
}

@mixin floating-element {
    position: fixed;
    height: 15%;
    bottom: 40px;
    left: 40px;
    z-index: 10;
}


/* variables */

$primary-color: #0c2359;
$secondary-color: #d58f28;
$primary-font: 'Assistant';
$secondary-font: 'Rubik';

/* overrides */

.h1 {
    font-family: $primary-font;
}